/*===================================================================
Image
=====================================================================*/
.protagonist {
  color: red;
}

.wiseoldman {
 color: blue; 
}

#beta {
  color: green;
  font-size: 23;
}
